@charset "UTF-8";

/* GENERAL */

#bloc_page{
	width:70%;
	height: auto;
	margin: 3% auto;
	padding: 10px;
	background-color: rgba(64,154,154, 0.2);
	
	
}


/* MENU  */

#menu{
	width:100%;
	height:5%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:0 10px;
	margin-bottom : 20px;
	background-color: white;
}

nav{
}

.icon-size{
	font-size:2em;
	margin : auto;
}

#avatar {
	display: flex;
	
}

#avatar #av{
	text-align: center;
}

#avatar div #identite_user{
	margin: 0 5px;
}


/* HOME PAGE */

#bouton_connexion{
	margin: 30px auto;
	width: 97%;
	display: flex;
	justify-content: flex-end;
}

#logo{
	width: 350px;
	height: 350px;
	margin: auto;
}

#banniere{
	width : 100%;
	height: 361px;
	
	background: #ffffff url(../img/banniere_college.png) no-repeat top ;
	
	background-size: cover;
	
}


/* CONNEXION PAGE */

#formulaire_connexion{
	width :50%;
	margin : 30px auto;
}

#pied_formulaire_connexion{
	margin-top : 10px;
	display: flex;
	justify-content: space-between;
}

/* ESPACE ADMIN - AJOUT ELEVE */ 

#formulaire_ajout_eleve{
	width :70%;
	margin : 30px auto;
	padding:10px;
	border-radius:5px;
	background-color: rgba(64,154,154, 0.4);
}

.erreur{
	color: red;
	
}